.header {
    height: 50px;
}
.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    max-width: 1440px;
    height: 50px;
    margin: 0 auto;
    padding-right: 24px;
    padding-left: 24px;
    color: black;
    background-color: white;
    box-shadow: rgb(0 0 0 / 20%) 0 2px 4px -1px, rgb(0 0 0 / 14%) 0 4px 5px 0, rgb(0 0 0 / 12%) 0 1px 10px 0;
}